*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFF;
    text-align: center;
    font-family: 'Open Sans', Arial;
}

div{
    margin: 5rem;
    text-align: left;
}

div h1{
    font-size: 2.1rem;
    margin: 0 0 .5rem;
    color: #000;
    font-weight: 700;
}

div p{
    color: #565656;
    margin: 0 0 2rem;
    font-size: 1.1rem;
}

div p a{
    color: #E97840;
}

div form{
    width: 40%;
}

div form fieldset{
    border: 0;
    padding-bottom: 1.5rem;
}

div form fieldset:last-of-type{
    padding-bottom: 0;
}

div form fieldset p{
    color: #000;
    font-size: 1rem;
    margin-bottom: 4px;
}

div form fieldset input[type="text"], div form fieldset input[type="password"]{
    width: 100%;
    padding: 1rem;
    border: 1px solid #E2E7ED;
}

div form fieldset input[type="text"].alerta, div form fieldset input[type="password"].alerta{
    border: 1px solid red;
}

div form input[type="button"]{
    width: 100%;
    background: #E97840;
    border: 1px solid #E97840;
    color: #FFF;
    font-weight: 700;
    padding: 1rem;
    font-size: 1rem;
}

div form p#texto-error{
    color: red;
    margin: 1rem 0;
}